#main-content-wrap {
    display: none;
    height: 100vh;
    overflow: hidden;
}

#side-menu {
    height: 100vh;
    background-color: #fafafa;
}

#user-list {
    display: none;
}

#remove-user {
    display: none;
    height: 40px;
}

#show-list {
    display: none;
}

#page-content {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #e0e0e0;
    height: 100vh;  
}

.collection {
    border-left: none;
    border-right: none;
}
#message-box {
    position: fixed;
    bottom: 0;
    width: 90%;
}

#card {
    height: 90vh;
    overflow: scroll; 
    font-size: 20px;
}

.fixed-action-btn {
    top: 10px;
}

#set-username-wrap {
    margin-top: 35vh;
}

